article {
  background-color: white;
  width: 16rem;
  text-align: left;
  padding: 1rem;
  margin: 0 auto;
}

article img {
  width: 100%;
}

article > a {
  cursor: pointer;
  color: rgb(73, 73, 73);
}

article > a:hover {
  color: black;
}
