section h2 {
  margin-bottom: 2rem;
}

.recipe_content > p {
  width: 60rem;
}

div.recipe_content {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

div.recipe_content img {
  width: 25%;
  object-fit: contain;
}
